doctype html
html(ng-app="app")
  head
    meta(charset="UTF-8")
    //- inject:css
    link(rel="stylesheet", href="02-movimientos/movimientos.css")
    //- endinject
    //- bower:css
    link(rel="stylesheet", href="../vendor/bootstrap-theme.min.css")
    link(rel="stylesheet", href="../vendor/bootstrap.min.css")
    //- endinject
    title Muuw 1.0
  body
    script
      | window.$ = window.jQuery = require("jquery")
    //- bower:js
    script(src="../vendor/angular.js")
    script(src="../vendor/pouchdb.js")
    script(src="../vendor/jquery.js")
    script(src="../vendor/ngDraggable.js")
    script(src="../vendor/angular-route.js")
    script(src="../vendor/angular-pouchdb.js")
    script(src="../vendor/bootstrap.min.js")
    //- endinject
    //- inject:js
    script(src="00-init/00.openClasses.js")
    script(src="00-init/01.main.js")
    script(src="00-init/01.tools.js")
    script(src="00-init/02.config.js")
    script(src="00-init/02.seeds.js")
    script(src="00-init/02.views.js")
    script(src="00-init/03.mem.js")
    script(src="01-nav/nav.js")
    script(src="01-shared/02.filters.js")
    script(src="02-movimientos/01.movServ.js")
    script(src="02-movimientos/02.movCtrl.js")
    script(src="02-movimientos/03.itemServ.js")
    script(src="02-movimientos/10.routes.js")
    script(src="03-animal/01.animalServ.js")
    script(src="02-movimientos/directives/movDirectives.js")
    //- endinject
    app-nav
    div.container-fluid
      ng-view
